.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #1d2431;
  min-height: 100%;
  color: aliceblue;
}

html, body {
  height: 100%;
  background-color: #1d2431;
  /* overflow: hidden; */
}

.vertical-align {
  margin-top: 50%;
  text-align: center;
}

.summary {
  padding: 15px 10px 15px 10px;
  text-align: left;
  background-color: white;
  color: black;
}

.edit-video-info-container {
  margin: 10px 15px 0px 0px;
  text-align: left;
  border: white 1px solid;
}

.btnEdit {
  margin: 2px;
}

.summary-header {
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
  background-color: rgb(243, 243, 243);
  border-bottom: solid 1px black;
  text-align: right;
  color: black;
}

.edit-summary-header {
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
  background-color: rgb(243, 243, 243);
  border-bottom: solid 1px black;
  text-align: center;
  color: black;
  padding-top: 10px;
}

.video {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}

.video-container {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  overflow: hidden;
  margin-right: 0px;
  padding: 15px 0px 15px 10px;
}

.edit-video-container {
  width: 40%;
  overflow: hidden;
  margin-right: 0px;
  min-height: 350px;
  margin: auto;
  padding: 5px 0px 5px 10px;
}

.video-info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  margin-right: 0px;
  padding: 0px 0px 0px 10px;
  text-align: left;
}

.video-col {
  padding-right: 0;
}

.text-col {
  padding-left: 0;
}

hr {
  border-color: white;
  margin-right: 15px;
  margin-top: 5px;
  margin-left: -5px;
}

.complexity-info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  margin-right: 0px;
  padding: 0px 0px 0px 10px;
  text-align: left;
  margin-bottom: 4px;
}

.subtitle {
  margin-bottom: 2px;
}

.detail-btn {
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}

.col-btn {
  margin-top: 5%;
  margin-bottom: 0;
}